@tailwind base;
@tailwind components;
@tailwind utilities;


/* Animación para el subheader */
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  /* Animación para pagina */
  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
  .animate-fadeIn {
    animation: fadeIn 1s ease-out forwards;
  }
  @keyframes gradientHover {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  header{
    animation: fadeIn 2s ease-in-out;
  }

  body {
    background: linear-gradient(90deg, #8789f5, #a27aff, #ff74b9); /* Colores equivalentes */
    background-size: 300% 300%; 
    animation: fadeIn 2s ease-in-out;
    width: 100%;
    animation: bgMove 10s ease-in-out infinite; /* Animación infinita */
    overflow: hidden;
    
  }
  
  /* Definimos la animación */
  @keyframes bgMove {
    0% {
      background-position: 0% 50%; /* Comienza en el inicio del gradiente */
    }
    50% {
      background-position: 100% 50%; /* Mueve el gradiente a la derecha */
    }
    100% {
      background-position: 0% 50%; /* Regresa al inicio */
    }
  }

  .gradient-animated:hover {
    animation: gradientHover 3s ease infinite;
    transform: scale(1.05);
  }

  .gradient-animated:active {
    transform: scale(0.95);
  }


  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .gradient-constant {
    background: linear-gradient(90deg, #4398ff, #5c5efc, #7323ff, #ff60b2);
    background-size: 300% 300%;
    animation: gradientAnimation 6s ease infinite;
  }